:root {
  --blue-dark: rgb(35 65 130);
  --blue-light: rgb(0 160 227);
  --grey-dark: rgb(137 137 137);
  --grey-light: rgb(197 198 198);

  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  /*position: relative;
  overflow: hidden;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  overflow-x: hidden;
  /*overflow-y: scroll;*/
}


.lang {
    position: absolute;
    top: 20px;
    right: 30px;
}

.lang a {
    color: var(--grey-dark);
    background: #fff;
    padding: 6px 15px;
    margin: 0 0 0 10px;
    transition: 0.3s;
    border: none;
}

.lang a:hover {
    color: #000;
    background: #fff;
}

/*.title_subtext::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: white;
    margin: 15px 0;
}*/

.body_bg {
	background: url("../images/design.jpg") fixed no-repeat;
    background-size: cover;
    background-position: center-center;
    width: 100vw;
    height: 100vh;
}

/*.header .heading-section {
    padding: 50px 0 10px;
}*/

/* dep cards */
.departments_wrapper .card_list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.department_card {
  margin: 30px auto;
  width: 250px;
  height: 200px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
 /* cursor: pointer;*/
  transition: 0.4s;
}

/*.department_card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.department_card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: contain;
}*/

/*.department_card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: -119px;
  height: 40px;

}*/

.department_card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    /* margin-top: -119px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.department_card .card_title a {
  *//* text-decoration: none; *//*
  color: #918686;
  text-align: center;
  *//* border-radius: 0px 0px 40px 40px; *//*
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  *//* margin-top: -90px;
  height: 40px; *//*
}*/

a.department_card {
 text-decoration: none;
 color: #fff;
 text-align: center;
 font-family: sans-serif;
 font-weight: bold;
 font-size: 25px;
 background-color: var(--blue-light);
}

 .department_card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.card-footer {
    background: none;
}

.questions_list .card-footer .btn-get-started{
    color: #fff;
    background: var(--blue-light);
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 12px 28px;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
    margin: 5px 0;
    border: none;
}

.questions_list .card-header:first-child {
    color: #fff;
    background: var(--blue-light);
    border-radius: 30px 30px 0 0;

}

/*.questions_list .card-footer {
    background: var(--blue-light);
}*/

.questions_card {
    height: 200px;
    width: 520px;
    border-radius: 30px;
    /*border: 2px solid var(--blue-light);*/
    box-shadow: 0px 0px 20px;
}
/*.questions_card:hover {
    border: 2px solid var(--blue-light);
    transition: 0.2s;
}*/

.questions_card h4 {
    margin-left: 4px;
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.file_input {
    border: none;
    padding: 3px;
}
#file_upload_wrapper {
    padding: 50px 30px;
    background: #eee;
}

svg #file_icon svg {
    font-size: 20px;
}

.employee_list_wrapper .list-group a {
    text-decoration: none;
    color: #000;
}

.main_btn {
    background-color: var(--blue-light);
    color: #fff;
}
.main_btn:hover {
    background-color: var(--blue-light);
    color: #fff;
}

.header h2 {
    color: var(--blue-light);
}

.bg-survey, .modal-body svg {
    color: rgb(62 117 208) !important;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 5px 0;
}

.form-check-input[type=radio] {
    position: absolute;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 6px;
    z-index: 1;
    zoom: 1
    width: 100%;
    cursor: pointer;

}
.form-check-label {
    margin-bottom: 0;
    padding: 5px;
}
.form-check .form-check-input {
    float: left;
}

.form-check:has(input[type="radio"]:checked) {
  background-color: #ddeff4;
}

section, .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0 100px 0;
    scroll-margin-top: 88px;
    overflow: clip;
}

section.padding-bottom-230 {
    padding-bottom: 230px;
}

.hero {
    background: url("../images/blue_naqsh.jpg") fixed no-repeat;
    background-size: cover;
    background-position: left-left;
    background-color: var(--blue-light);
    color: #ffffff;
    width: 100%;
    position: relative;
    /*padding: 120px 0 60px 0;*/
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.hero p {
    /*color: var(--grey-light);*/
    color: #fff;
    margin: 5px 0 30px 0;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;

}
.hero h1 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
}

.hero .btn-get-started {
    color: var(--grey-dark);
    background: #fff;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 12px 28px;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
    margin: 5px 0;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    background-color: var(--blue-light);
    color: #fff;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header .logo svg {
    width: 200px;
    color: #ffffff;
}

.header a.logo img {
    width: 200px;
    color: #ffffff;
}

.header .btn-getstarted, .header .btn-getstarted:focus {
    color: #fff;
    background: var(--blue-dark);
    font-size: 14px;
    padding: 8px 25px;
    margin: 0 0 0 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.responses_wrapper {
    font-size: 12px;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 0px 20px;
}

.responses_wrapper .card-header {
    color: #fff;
    background: var(--blue-light);
}

.admin_form {
    height: 100%;
    padding: 15px 0;
    /*border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;*/
    box-shadow: 0px 0px 20px;
}

.admin_form .admin_form__btn {
    color: var(--grey-dark);
    background: #fff;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 36px;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
    margin: 5px 0;
}

#contact .admin_form input[type=text], #contact .admin_form input[type=password], #contact .admin_form input[type=textarea]  {
    height: 46px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 3px;
    color: #444444;
    background-color: #fff,
}

.sidebar {
    background: var(--blue-light);
    height: 100%;
    /*width: 160px;*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

nav {
    margin-top: 80px;
    padding: 0;
}

.sidebar_nav a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.sidebar_nav a:hover {
    /*background: var(--grey-light);*/
    background: #86bcf6;
    transition: 0.3s;
}

#side_nav .active {
    color: var(--grey-light);
    background: #fff;
}

.file-upload-wrapper {
    margin-top: 100px;
    padding: 100px 30px;
    background: var(--blue-light);
}

.file-upload-wrapper h5 {
    color: #fff;
    padding: 15px;
}

.upload_btn {
    background: #fff;
}

.card .textarea_wrapper {
    width: 100%;
    padding: 15px;
}
.vote_textarea {
    width: 100%;
}

.admin_logo {
    width: 100%;
    padding: 0 65px 20px 65px;
}

.back {
    position: absolute;
    top: 5px;
    right: 5px;
}

.back a {
    color: var(--blue-light);
    background: #fff;
    padding: 6px 15px;
    transition: 0.3s;
    border: none;
}
.back a:hover {
    color: #000;
    background: #fff;
}




@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .questions_card {
        height: 200px;
        width: 440px;
    }

    .card .textarea_wrapper {
        width: 100%;
        padding: 5px;
    }
}

@media only screen and (max-width: 991px) {
    .hero h1 {
        margin-top: 30px;
    }
    .lang {
        top: 7px;
        right: 7px;
    }
}












