{% extends 'base.html' %}
{% load static %}
{% block title %}Отдел: {{ department_name }}{% endblock %}

{% block content %}
<section class="users-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-2">
                <div class="header">
                    <h2 class="heading-section">{{ department_name }}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-md-offset-2">
                <div class="employee_list_wrapper">
                    <div class="w-100 p-md-3 p-3">
                        <ul class="list-group">
                            {% for employee in employees %}
                            <li class="list-group-item list-group-flush employee_name_wrapper"
                                data-employee-code="{{ employee.code }}">

                                <a class="title" href="{% url 'survey' department_name %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor"
                                         class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    </svg>
                                    {{ employee.name }}
                                </a>
                            </li>

                            {% empty %}
                            <div class="text-center">В отделе нет сотрудников</div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lang">
        <a href="{% url 'departments' %}" class="btn main_btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-house-check-fill" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514"/>
            </svg>
        </a>
    </div>
</section>
{% endblock %}