{% extends 'base.html' %}
{% load static %}
{% block title %}Портал SAG{% endblock %}

{% block content %}
<section class="ftco-section ">
    <div class="container">
        {% include 'header.html' %}
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Заполните форму</h3>
                                <div id="form-message-warning" class="mb-4"></div>
                                <div id="form-message-success" class="mb-4">
                                    Форма успешно отправлена!
                                </div>
                                <form method="POST" action="{% url 'message' %}" id="contactForm" name="contactForm"
                                      class="contactForm">
                                    <div class="row">
                                        {% csrf_token %}
                                        <input type="hidden" name="lang" value="ru">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="name">ФИО (необязательно)</label>
                                                <input type="text" class="form-control" name="name" id="name"
                                                       placeholder="ФИО (необязательно)">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="department">Отдел (необязательно)</label>
                                                <input type="text" class="form-control" name="department"
                                                       id="department" placeholder="Отдел (необязательно)">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="phone">Номер телефона
                                                    (необязательно)</label>
                                                <input type="text" class="form-control" name="phone"
                                                       id="phone" placeholder="Номер телефона (необязательно)">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="message">Жалоба или предложение</label>
                                                <textarea name="message" class="form-control" id="message" cols="30"
                                                          rows="4" required
                                                          placeholder="Жалоба или предложение"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Отправить" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-primary w-100 p-md-5 p-4">
                                <h1 class="text-center text-white">Добро пожаловать!</h1>
                                <h3 class="text-center text-white">Здесь вы можете отправить нам жалобы и
                                    предложения</h3>
                                <h5 class="title_subtext text-center text-white">Вы можете прислать жалобу анонимно, но
                                    в таком случае, мы не сможем с вами связаться</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


