{% extends 'base.html' %}
{% load static %}
{% block title %}Ответы{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        {% include 'mainapp/apanel/sidebar.html' %}

        <div class="col-md-9">
            <div class="container">
                <div class="row gy-4 text-center justify-content-center">
                    <div class="col-10 order-2 order-lg-1 d-flex flex-column justify-content-center text-center">
                        <div class="responses_wrapper">
                            {% if report_data %}

                            {% for department, questions in report_data.items %}
                            <h2> {{ department }}</h2>
                            <table border="1" class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th>Вопрос</th>
                                    <th>Вариант</th>
                                    <th>Количество</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for question_text, details in questions.items %}
                                {% if details.options %}
                                <tr>
                                    <td class="text-left" rowspan="{{ details.options|length }}">{{ question_text }}</td>
                                    {% for option, count in details.options.items %}
                                    {% if forloop.first %}
                                    <td>{{ option }}</td>
                                    <td>{{ count }}</td>
                                    {% else %}
                                <tr>
                                    <td>{{ option }}</td>
                                    <td>{{ count }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tr>
                                {% else %}
                                <tr>

                                    <td class="text-left">{{ question_text }}</td>
                                    <td colspan="2">

                                        {{ details.responses.count }}

                                        <!--<ul class="m-0 p-2">
                                            {% for response in details.responses.answers %}
                                            <li class="text-left" style="list-style-type: none;">{{ response }}</li>
                                            {% endfor %}
                                        </ul>
                                        <p class="text-left">Total answers: {{ details.responses.count }}</p>-->
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}

                                </tbody>


                            </table>
                            {% endfor %}

                            {% else %}
                            <h2>Нет данных</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock extra_js %}


{% endblock %}