{% extends 'base.html' %}
{% load static %}
{% block title %}Ответы{% endblock %}

{% block content %}
<section id="responses" class="responses">
        <div class="container">
            <div class="row gy-4 text-center justify-content-center">
                <div class="col-10 order-2 order-lg-1 d-flex flex-column justify-content-center text-center">

                    <div class="responses_wrapper">
                        {% for department in report_data %}
                        <div class="card mb-5">
                            <div class="card-header">
                                <h2 class="m-0"> {{ department.department }}</h2>
                            </div>
                            <div class="card-body">
                                <table border="1">
                            <tr>
                                <th scope="col">Вопрос</th>
                                {% if department.questions.0.has_options %}
                                <th scope="col">Вариант</th>
                                <th scope="col">Количество</th>
                                {% else %}
                                <th scope="col">Ответы</th>
                                {% endif %}
                            </tr>
                            {% for question in department.questions %}
                            {% if question.has_options %}
                            <tr>
                                <!--<td scope="row">{{ forloop.counter }}</td>-->
                                <td rowspan="{{ question.options|length }}">{{ question.question_text }}</td>
                                {% for option in question.options %}
                                {% if forloop.first %}
                                <td>{{ option.value }}</td>
                                <td>{{ option.count }}</td>
                                {% else %}
                            <tr>
                                <td>{{ option.value }}</td>
                                <td>{{ option.count }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tr>
                            {% else %}

                            <tr>
                                <td>{{ question.question_text }}</td>
                                <td colspan="2">
                                    <ul class="m-0 p-2">
                                        {% for response in question.responses %}
                                        <li class="text-left" style="list-style-type: none;">{{ response }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>

                            </tr>

                            {% endif %}
                            {% endfor %}
                        </table>
                            </div>
                        </div>


                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
    </section>
{% endblock %}