{% extends 'base.html' %}
{% load static %}
{% block title %}Ответы{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include 'mainapp/apanel/sidebar.html' %}

        <div class="col-md-9">
            <div class="container">
                <div class="row gy-4 text-center justify-content-center">
                    <div class="col-10 order-2 order-lg-1 d-flex flex-column justify-content-center text-center">

                        <div class="responses_wrapper">
                            {% if report_data %}
                            {% for department_data in report_data %}
                            <h2>{{ department_data.department }}</h2>
                            <table border="1" class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th>Вопрос ID</th>
                                    <th>Вопрос</th>
                                    <th>Вариант</th>
                                    <th>Количество</th>
                                    <th>Общее</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for question_data in department_data.questions %}
                                {% if question_data.has_options %}
                                {% for option in question_data.options %}
                                <tr>
                                    {% if forloop.first %}
                                    <td rowspan="{{ question_data.options|length }}">{{ question_data.question_id }}
                                    </td>
                                    <td class="question_text" rowspan="{{ question_data.options|length }}">{{ question_data.question_text }}
                                    </td>
                                    {% endif %}
                                    <td>{{ option.value }}</td>
                                    <td>{{ option.count }}</td>
                                    {% if forloop.first %}
                                    <td rowspan="{{ question_data.options|length }}">{{ question_data.total_count }}
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td>{{ question_data.question_id }}</td>
                                    <td>{{ question_data.question_text }}</td>
                                    <td colspan="2">нет вариантов</td>
                                    <td>{{ question_data.total_count }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endfor %}
                            {% else %}
                            <h2>Нет данных</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


