{% extends 'base.html' %}
{% load static %}
{% block title %}Статистика по дате{% endblock %}

{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<div class="container-fluid">
    <div class="row">
        {% include 'mainapp/apanel/sidebar.html' %}

        <div class="col-md-9 ">
            <div class="container">
                <div class="row gy-4 text-center justify-content-center">
                    <div class="col-10 order-2 order-lg-1 d-flex flex-column justify-content-center text-center">

                        <div class="responses_wrapper vh-100">
                            <div class="pb-3 text-right">
                                <a href="{% url 'response_count_by_department' %}" class="btn btn-outline-primary">Статистика
                                    по отделам</a>
                            </div>


                            <h2>Статистика по дате</h2>
                            {% if response_count_start_datetime %}
                            <p>Начинается с: {{ response_count_start_datetime|date:"Y-m-d H:i:s" }}</p>
                            {% endif %}
                            <table>
                                <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Ответили</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for total in total_count_per_date %}
                                {% if total.total_count > 0 %}
                                <tr>
                                    <td>{{ total.completed_at__date|date:"Y-m-d" }}</td>
                                    <td>{{ total.total_count }}</td>
                                </tr>
                                {% endif %}

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}