{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/upload.css' %}">

<div class="container-fluid">
    <div class="row">
        {% include 'mainapp/apanel/sidebar.html' %}
        <div class="col-md-9">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center justify-content-center vh-100">
                        <div id="file-upload-wrapper" class="file-upload-wrapper">
                            <form action="{% url 'upload_questions' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <input class="form-control file_input" type="file" name="questions_file"
                                               id="upload_questionsFile"
                                               required>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-block upload_btn" type="submit"
                                                id="questions_upload_button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                                <path fill-rule="evenodd"
                                                      d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                                            </svg>
                                            Загрузить вопросы
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div id="message">
                                <h5 class="danger">{{ upload_message }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% block extra_js %}
<script type="text/javascript">
    function setNavigation() {
        let current_location = location.pathname.split('/')[1];

        let menu_items = document.querySelector(".nav-item").getElementsByTagName("a");
        for (let i = 0, len = menu_items.length; i < len; i++) {
            let href = menu_items[i].getAttribute("href");

            if ((!current_location && href === '/') || (current_location && href.indexOf(current_location) !== -1)) {
                menu_items[i].className = "active";
            }
        }
    }
    setNavigation();
</script>
{% endblock extra_js %}


{% endblock content %}