{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- HEADER -->
{% include 'dash_header.html' %}
<!-- END HEADER -->

<div class="container-fluid">

    <!-- FILTER -->
    <div class="row my-2 justify-content-end">
        <div class="col-lg-4">
            <select name="surveyFilter" class="form-select" onchange="changeSurvey(this.value)">
                {% comment %}<option value="" class="text-muted"></option>{% endcomment %}
                {% for survey in surveys %}
                <option value="{{ survey.id }}"
                        {% if selected_survey and selected_survey.id == survey.id %}
                        selected
                        {% endif %}>
                    {{ survey.title_uz }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- KPI -->
    <div class="row my-4">
        <div class="col-xl-3 col-md-6">
            <div class="card stat-card border-start border-primary border-3">
                <div class="card-body">
                    <div class="text-muted mb-2">
                        Общее
                    </div>
                    <h2 class="fw-bold">
                        {{ total_submissions }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card stat-card border-start border-primary border-3">
                <div class="card-body">
                    <div class="text-muted mb-2">
                        Сегодня
                    </div>

                    <h2 class="fw-bold">
                        {{ today_total }}
                    </h2>
                </div>
            </div>

        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card stat-card border-start border-primary border-3">
                <div class="card-body">
                    <div class="text-muted mb-2">
                        Неделя
                    </div>
                    <h2 class="fw-bold">
                        {{ week_total }}
                    </h2>
                </div>
            </div>

        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card stat-card border-start border-primary border-3">
                <div class="card-body">
                    <div class="text-muted mb-2">
                        Месяц
                    </div>
                    <h2 class="fw-bold">
                        {{ month_total }}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    {% if selected_survey.survey_type == 'general' %}
    <!-- DAILY -->
    <div class="row g-4 mb-4">
        <div class="col-6">
            <div class="card chart-card mb-4">
                <div class="card-body">
                    <div id="dailyChart"
                         style="height: 400px;">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card chart-card bg-white">
                <div class="card-body">
                    <div id="departmentChart" style="height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- WEEKLY -->
    <div class="row g-4 mb-5">
        <div class="col-lg-6">
            <div class="card chart-card">
                <div class="card-body">
                    <div id="weeklyChart"
                         style="height: 350px;">
                    </div>
                </div>
            </div>

        </div>

        <!-- MONTHLY -->
        <div class="col-lg-6">

            <div class="card chart-card">
                <div class="card-body">
                    <div id="monthlyChart"
                         style="height: 350px;">
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- DEPARTMENT KPI TABLE -->
    <div class="row g-4 mb-5">
        <div class="col-sm-12">
            <div class="card chart-card mb-5">
                <div class="card-body">
                    <h5 class="fw-bold mb-4"> Статистика по отделам</h5>

                    <div class="table-responsive dash_department_stats_table_wrapper">
                        <table class="table table-hover align-middle">
                            <thead class="table-light">
                            <tr>
                                <th>Отдел</th>
                                <th class="text-center">Сегодня</th>
                                <th class="text-center">Неделя</th>
                                <th class="text-center">Месяц</th>
                                <th class="text-center">Общее</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in department_kpis %}
                            <tr>
                                <td>{{ item.department__name_uz }}</td>
                                <td class="text-center">
                                    <span class="">{{ item.today }}</span>
                                </td>
                                <td class="text-center">
                                        <span class="text-center">
                                            {{ item.week }}
                                        </span>
                                </td>
                                <td class="text-center">
                                        <span class="text-center">
                                            {{ item.month }}
                                        </span>
                                </td>
                                <td class="text-center">
                                        <span class="badge bg-success text-white">
                                            {{ item.total }}
                                        </span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

    {% elif selected_survey.survey_type == 'product' %}
    <!-- PRODUCT SURVEY -->
    <div class="row g-4 mb-5">
        <!-- PRODUCT PIE -->
        <div class="col-lg-7 justify-content-center">
            <div class="card chart-card bg-white mb-4">
                <div class="card-body">
                    {% for question in product_question_stats %}
                    <div id="productQuestionBar{{ question.question_id }}" style="height: 400px;"></div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- PRODUCT BAR -->
        <div class="col-lg-5 justify-content-center">
            <div class="card chart-card bg-white mb-4">
                <div class="card-body">
                    {% for question in product_question_stats %}
                    <div id="productQuestionChart{{ question.question_id }}" style="height: 400px;"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</div>

<!-- JSON -->
{{ daily_stats|json_script:"daily-data" }}
{{ weekly_stats|json_script:"weekly-data" }}
{{ monthly_stats|json_script:"monthly-data" }}
{{ department_stats|json_script:"department-stats" }}
{{ department_kpis|json_script:"department-data" }}
{{ product_question_stats|json_script:"product-question-data" }}


<script>
    function changeSurvey(surveyId) {
        const url = new URL(window.location.href);
        url.searchParams.set('survey', surveyId);
        window.location.href = url.toString();
    }

    <!-- ECHARTS -->
    const daily = JSON.parse(
        document.getElementById('daily-data').textContent
    );

    const weekly = JSON.parse(
        document.getElementById('weekly-data').textContent
    );

    const monthly = JSON.parse(
        document.getElementById('monthly-data').textContent
    );

    const departments = JSON.parse(
        document.getElementById('department-data').textContent
    );

    const productQuestions = JSON.parse(
        document.getElementById('product-question-data').textContent
    );

    // PRODUCT PIE
    productQuestions.forEach(function (question) {
        const productChart = document.getElementById('productQuestionChart' + question.question_id);
        if (!productChart) {
            return;
        }
        const chart = echarts.init(productChart);

        chart.setOption({

            title: {
                text: question.survey_title,
                left: 'center'
            },

            tooltip: {
                trigger: 'item'
            },

            legend: {
                orient: 'horizontal',
                left: 'center'
            },

            series: [
                {
                    name: 'Ответы',
                    type: 'pie',
                    radius: '60%',
                    data: question.options.map(function (option) {
                        return {
                            value: option.total,
                            name: option.name
                        };
                    }),

                    label: {
                        formatter: '{b}: {c}'
                    },
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        });

        window.addEventListener('resize', function () {
            chart.resize();
        });

    });

    // PRODUCT BAR
    productQuestions.forEach(function (question) {
        const productBar = document.getElementById('productQuestionBar' + question.question_id);
        if (!productBar) {
            return;
        }
        const bar = echarts.init(productBar);

        const names = question.options.map(function (option) {
            return option.name;
        });

        const totals = question.options.map(function (option) {
            return option.total;
        });

        bar.setOption({

            title: {
                text: question.survey_title,
                left: 'center'
            },

            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },

            xAxis: {
                type: 'category',
                data: names,
            },

            yAxis: {
                type: 'value',
                //minInterval: 1
            },

            series: [
                {
                    name: 'Ответы',
                    type: 'bar',
                    data: totals,
                    barMaxWidth: 80,

                    label: {
                        show: true,
                        position: 'top'
                    },
                    emphasis: {
                        focus: 'series'
                    }
                }
            ]
        });

        window.addEventListener('resize', function () {
            bar.resize();
        });

    });

    // DEPARTMENT PIE
    const departmentElement = document.getElementById('departmentChart');
    if (departmentElement) {
        const departmentChart = echarts.init(departmentElement);
        departmentChart.setOption({
            title: {
                text: 'Отделы общее',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
            },

            series: [
                {
                    name: 'Отделы',
                    type: 'pie',
                    radius: '70%',
                    data: departments.map(i => ({
                        value: i.total,
                        name: i.department__name_uz
                    })),
                    label:
                        {
                            formatter: '{b}: {c}'
                        },
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX:
                                0
                        }
                    }
                }
            ]

        });

        window.addEventListener('resize', function () {
            departmentChart.resize();
        });
    }

    // DAILY
    const dailyElement = document.getElementById('dailyChart');
    if (dailyElement) {
        const dailyChart = echarts.init(dailyElement);
        dailyChart.setOption({
            title: {
                text: 'Ежедневный',

                left: 'center'
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                data:
                    daily.map(i => i.day)
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: daily.map(i => i.total),
                type: 'line',
            }]
        });

        window.addEventListener('resize', function () {
            dailyChart.resize();
        });
    }

    // WEEKLY
    const weeklyElement = document.getElementById('weeklyChart');
    if (weeklyElement) {
        const weeklyChart = echarts.init(weeklyElement);
        weeklyChart.setOption({
            title: {
                text: 'Еженедельный',
                left: 'center'
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                data:
                    weekly.map(i => i.week)
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: weekly.map(i => i.total),
                type: 'bar',
                barWidth: 50
            }]
        });

        window.addEventListener('resize', function () {
            weeklyChart.resize();
        });
    }

    // MONTHLY
    const monthlyElement = document.getElementById('monthlyChart');
    if (monthlyElement) {
        const monthlyChart = echarts.init(monthlyElement);
        monthlyChart.setOption({
            title: {
                text: 'Ежемесячный',
                left: 'center'
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                data: monthly.map(i => i.month)
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: monthly.map(i => i.total),
                type: 'line',
                smooth: true
            }]
        });

        window.addEventListener('resize', function () {
            monthlyChart.resize();
        });
    }

</script>

{% endblock %}