{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h2 class="mb-4">Статистика опроса</h2>

    <!-- TOTAL BY DATE -->
    <div class="card mb-5">
        <div class="card-header">
            TOTAL BY DATE
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Общее</th>
                </tr>
                </thead>

                <tbody>
                {% for row in total_by_date %}
                <tr>
                    <td>{{ row.date }}</td>
                    <td>{{ row.total }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- DEPARTMENT TOTALS -->
    <div class="card mb-5">
        <div class="card-header">
            DEPARTMENT TOTALS
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Отдел</th>
                    <th>Общее</th>
                </tr>
                </thead>

                <tbody>
                {% for row in department_totals %}
                <tr>
                    <td>{{ row.department__name_uz }}</td>
                    <td>{{ row.total }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- DEPARTMENT BY DATE -->
    <div class="card">
        <div class="card-header">
            DEPARTMENT BY DATE
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Цех</th>
                    <th>Общее</th>
                </tr>
                </thead>

                <tbody>
                {% for row in department_by_date %}
                <tr>
                    <td>{{ row.date }}</td>
                    <td>{{ row.department__name_uz }}</td>
                    <td>{{ row.total }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}