{% extends 'base.html' %}
{% load static %}
{% block title %}Отделы{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="wrapper">
            <div class="row no-gutters">
                <div class="col-sm-12">
                    <div class="departments_wrapper">
                        <div class="card_list">

                            {% for department in departments %}
                            <a href="{% url 'vote_ru' department_name=department.name %}"
                               class="department_card" data-department-name="{{ department_name }}">
                                <div class="card_title">
                                    {{ department.name }}
                                </div>
                            </a>

                            {% empty %}
                            <div class="text-center">
                                <h3>В базе нет отделов</h3>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}