{% extends 'base.html' %}
{% load static %}
{% block title %}Бош саҳифа{% endblock %}


{% block content %}
{% include 'header.html' %}


<section id="hero" class="hero section">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="">Ҳурматли SAG компанияси ходими!</h1>
                <p>
                    Сизни овқатланишни ташкил этиш ва ошхона фаолияти бўйича фикр ва истакларингизни ўрганишга қаратилган аноним сўровномада иштирок этишга таклиф этамиз.<br>
                    Сизнинг фикрингиз биз учун жуда муҳим — у барча ходимлар учун овқатланиш шароитларини янада қулай, хилма-хил ва комфортли қилишга ёрдам беради.
                </p>
                <div class="text-center">
                    <a href="{% url 'survey_uz' %}" class="btn-get-started">Бошлаш</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}