{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}


{% block content %}
{% include 'header.html' %}

<main class="main">
    <section id="hero" class="hero section">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="">Добро пожаловать!</h2>
                    <p class="">
                        Примите участие в анонимном анкетировании нашей компании и ответьте на пару вопросов.<br>
                        Ваше мнение важно для нас!
                    </p>
                    <div class="text-center">
                        <a href="{% url 'survey_ru' %}" class="btn-get-started">Начинать</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main>

{% endblock %}



