{% extends 'base.html' %}
{% load static %}
{% block title %}Опросник{% endblock %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-md-offset-2 text-center w-100 p-md-5 p-4">
                <div class="mx-0 mx-sm-auto">
                    <div class="card survey_card">
                        <div class="card-header">
                            <h5 class="card-title text-white mt-2" id="exampleModalLabel">
                                Анкетирование: {{ department_name }}
                            </h5>
                        </div>

                        <div class="modal-body">
                            <div class="text-center">
                                <!--<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                                     class="bi bi-file-earmark-text mb-3 " viewBox="0 0 16 16">
                                    <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                                    <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                </svg>
                                <p><strong>Ваше мнение важно для нас</strong></p>-->

                                <!-- Progress Bar -->
                                <div class="text-right mb-5">
                                    <!--<p>Total questions: {{ total_questions }} </p>-->
                                    <span>{{ current_question }} / {{ total_questions }}</span>
                                    <progress value="{{ current_question }}" max="{{ total_questions }}"></progress>
                                </div>

                            </div>
                            <div class="text-center">
                                <h3> {{ question.question_text }}</h3>
                            </div>

                            <hr/>
                            {% if question %}
                            <form method="POST" class="px-4" id="survey-form">

                                {% csrf_token %}
                                <input type="hidden" name="department_name" value="{{ department_name }}"/>

                                <div class="form-group">
                                    <div class="question_block text-left">
                                        {% if question.has_options %}

                                        {% if question.option1 %}
                                        <div class="form-check mb-2">
                                            <input name="response" class="form-check-input" type="radio" value="{{ question.option1 }}" required/>
                                            <label class="form-check-label">
                                                <h4>{{ question.option1 }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}

                                        {% if question.option2 %}
                                        <div class="form-check mb-2">
                                            <input name="response" class="form-check-input" type="radio" value="{{ question.option2 }}" required/>
                                            <label class="form-check-label">
                                               <h4>{{ question.option2 }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}

                                        {% if question.option3 %}
                                        <div class="form-check mb-2">
                                            <input name="response" class="form-check-input" type="radio" value="{{ question.option3 }}" required/>
                                            <label class="form-check-label">
                                                <h4>{{ question.option3 }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}

                                        {% if question.option4 %}
                                        <div class="form-check mb-2">
                                            <input name="response" class="form-check-input" type="radio" value="{{ question.option4 }}" required/>
                                            <label class="form-check-label">
                                                <h4>{{ question.option4 }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}
                                        {% if question.option5 %}
                                        <div class="form-check mb-2">
                                            <input name="response" class="form-check-input" type="radio" value="{{ question.option5 }}" required/>
                                            <label class="form-check-label">
                                                <h4>{{ question.option5 }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}

                                        {% else %}
                                        <div data-mdb-input-init class="form-outline m-4">
                                            <textarea name="response" class="form-control" rows="4" required></textarea>
                                        </div>
                                        {% endif %}
                                        <input type="hidden" name="question_id" value="{{ question.id }}">

                                    </div>

                                </div>

                                <input type="hidden" name="next_question_id" id="next_question_id"
                                       value="{{ next_question_id }}">

                                <div class="card-footer text-end">
                                    {% if previous_question_id %}
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                            class="btn main_btn"
                                            onclick="window.location.href='{% url 'survey' department_name previous_question_id %}'">
                                        <h5 class="mb-0">Предыдущий</h5>
                                    </button>
                                    {% endif %}
                                    {% if is_last_question %}
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                            class="btn main_btn">
                                        <h5 class="mb-0">Завершить</h5>
                                    </button>
                                    {% else %}
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                            class="btn main_btn"
                                            onclick="document.getElementById('next_question_id').value='{{ next_question_id }}';">
                                        <h5 class="mb-0">Следующий</h5>
                                    </button>
                                    {% endif %}

                                </div>

                            </form>

                            {% else %}
                            <h4>Вопросы еще не заданы</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<div class="lang">
    <a href="{% url 'departments' %}" class="btn main_btn">Назад</a>
</div>-->
{% endblock %}


