{% extends 'base.html' %}
{% load static %}
{% block title %}Опросник{% endblock %}

{% block content %}
<section class="ftco-section pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-md-offset-2 text-center w-100 p-md-5 p-4">
                <div class="mx-0 mx-sm-auto">
                    <div class="card survey_card">
                        <div class="card-header">
                            <h5 class="card-title text-white mt-2" id="exampleModalLabel">
                                Вопросы анкетирования
                            </h5>
                        </div>

                        <div class="modal-body">
                            <div class="text-center">

                                <!-- Progress Bar -->
                                <div class="text-right mb-5">
                                    <span>{{ current_question }} / {{ total_questions }}</span>
                                    <progress value="{{ current_question }}" max="{{ total_questions }}"></progress>
                                </div>

                            </div>
                            <div class="text-center">
                                <h3> {{ question.question_text_ru }}</h3>
                            </div>

                            <hr/>
                            {% if question %}
                            <form method="POST" class="px-4" id="survey-form">

                                {% csrf_token %}
                                <input type="hidden" name="department_name" value="{{ department_name }}"/>

                                <div class="form-group">
                                    <div class="question_block text-left">
                                        {% if question.has_options %}

                                        {% if question.option1_ru %}
                                        <div class="form-check m-2">
                                            <input name="response" class="form-check-input" type="radio"
                                                   value="{{ question.option1_ru }}" required/>
                                            <label class="form-check-label">
                                                <h4>{{ question.option1_ru }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}

                                        {% if question.option2_ru %}
                                        <div class="form-check m-2">
                                            <input name="response" class="form-check-input" type="radio"
                                                   value="{{ question.option2_ru }}" required/>
                                            <label class="form-check-label">
                                                <h4>{{ question.option2_ru }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}

                                        {% if question.option3_ru %}
                                        <div class="form-check m-2">
                                            <input name="response" class="form-check-input" type="radio"
                                                   value="{{ question.option3_ru }}" required/>
                                            <label class="form-check-label">
                                                <h4>{{ question.option3_ru }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}

                                        {% if question.option4_ru %}
                                        <div class="form-check m-2">
                                            <input name="response" class="form-check-input" type="radio"
                                                   value="{{ question.option4_ru }}" required/>
                                            <label class="form-check-label">
                                                <h4>{{ question.option4_ru }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}
                                        {% if question.option5_ru %}
                                        <div class="form-check m-2">
                                            <input name="response" class="form-check-input" type="radio"
                                                   value="{{ question.option5_ru }}" required/>
                                            <label class="form-check-label">
                                                <h4>{{ question.option5_ru }}</h4>
                                            </label>
                                        </div>
                                        {% endif %}

                                        {% else %}
                                        <div data-mdb-input-init class="form-outline m-4">
                                            <textarea name="response" class="form-control" rows="4" required></textarea>
                                        </div>
                                        {% endif %}
                                        <input type="hidden" name="question_id" value="{{ question.id }}">
                                    </div>
                                </div>

                                <input type="hidden" name="next_question_id" id="next_question_id"
                                       value="{{ next_question_id }}">

                                <div class="card-footer text-end">
                                    {% if previous_question_id %}
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                            class="btn main_btn"
                                            onclick="window.location.href='{% url 'survey_ru' department_name previous_question_id %}'">
                                        <h5 class="mb-0">Предыдущий</h5>
                                    </button>
                                    {% endif %}
                                    {% if is_last_question %}
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                            class="btn main_btn">
                                        <h5 class="mb-0">Завершить</h5>
                                    </button>
                                    {% else %}
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                            class="btn main_btn"
                                            onclick="document.getElementById('next_question_id').value='{{ next_question_id }}';">
                                        <h5 class="mb-0">Следующий</h5>
                                    </button>
                                    {% endif %}

                                </div>

                            </form>

                            {% else %}
                            <h4>Вопросы еще не заданы</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


