{% extends 'base.html' %}
{% load static %}
{% block title %}Сўровнома{% endblock %}


{% block content %}


{% comment %}<style>

    .food-grid {
        column-gap: 20px;
        column-count: 4;
    }

    .food-card {
        border-radius: 14px;
        border: 1px solid #e9ecef;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .04);

    }
    .food-card {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 14px;
        border: 1px solid #e9ecef;
        padding: 14px;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .04);

        break-inside: avoid;
        -webkit-column-break-inside: avoid;
    }

    .food-card:hover {
        background-color: #fafafa;
        cursor: pointer;
    }

    .category-title {
        text-align: center;
        margin-bottom: 18px;
    }

    .option-item {
        margin-bottom: 5px;
    }

    .option-item label {
        display: flex;
        align-items: center;
        gap: 10px;

        width: 100%;
        margin: 0;

        padding: 3px 10px;

        border-radius: 10px;
        cursor: pointer;

        transition: .2s;
    }

    .option-item label:hover {
        background: #f5f7fa;
    }

    .option-item input {
        margin: 0;
        flex-shrink: 0;
    }

</style>{% endcomment %}
<style>
    .food-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 14px;
        align-items: start;
    }

    .food-card {
        padding: 10px 12px;
        border: 1px solid #e9ecef;
        border-radius: 12px;
        background: #fff;
        height: auto;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .04);
        margin-bottom: 20px;
    }

    .food-card:hover {
        background: #fafafa;
    }

    .category-title {
        text-align: center;
        margin-bottom: 10px;
    }

    .category-title h6 {
        font-size: 14px;
    }

    .option-item {
        margin-bottom: 2px;
    }

    .option-item label {
        display: flex;
        align-items: center;

        gap: 10px;
        width: 100%;

        margin: 0;
        padding: 3px 10px;

        font-size: 14px;
        line-height: 1.2;

        border-radius: 6px;

        cursor: pointer;
    }

    .option-item label:hover {
        background: #f5f7fa;
    }

    .option-item input {
        margin-top: 2px;
        flex-shrink: 0;
    }
    .survey_form {
        margin-bottom:300px;
    }
</style>
<div class="container-flex p-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <form method="POST" action="{{ request.path }}" class="survey_form">

                {% csrf_token %}

                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-body p-4 survey_img_border survey_img_h survey_img">

                    </div>
                </div>

                <div class="card shadow-sm border-0 mb-4 description">

                    <div class="card-body p-4">
                        <h3 class="mb-3">
                            Ошхона таомлари буйича аноним суровнома
                        </h3>

                        <p class="text-muted mb-0">
                            Илтимос, саволларга жавоб беринг.
                        </p>

                    </div>
                </div>

                {% if questions %}
                {% for question in questions %}

                <div class="card shadow-sm border-0 mb-4 question-card">
                    <div class="card-body p-4">
                        <h6 class="mb-4" style="padding-bottom: 16px; border-bottom: 1px solid #dadada;">

                            {{ question.order }}.
                            {{ question.question_uz }}

                            {% if question.is_required %}
                            <span class="text-danger"
                                  style="position: absolute; padding-left: 5px;">*</span>
                            {% endif %}

                        </h6>

                        <!-- TEXT -->
                        {% if question.question_type == 'text' %}
                        <textarea class="form-control use-keyboard-input" rows="3" name="question_{{ question.id }}"
                                  {% if question.is_required %}required{% endif %}>
                                        </textarea>
                        {% endif %}

                        <!-- NUMBER -->
                        {% if question.question_type == 'number' %}
                        <input type="number" class="form-control question-input use-keyboard-input"
                               name="question_{{ question.id }}"
                               {% if question.is_required %}required{% endif %}>
                        {% endif %}

                        <!-- SINGLE CHOICE -->
                        {% if question.question_type == 'single' %}

                        <!-- DEPARTMENTS -->
                        {% if question.option_source == 'department' %}
                        <div class="row">
                            {% for department in departments %}
                            <div class="col-sm-6 col-md-3">
                                <div class="option-item">
                                    <label for="question_{{ question.id }}_department_{{ department.id }}">
                                        <input class="question-input" type="radio"
                                               name="question_{{ question.id }}"
                                               value="{{ department.id }}"
                                               id="question_{{ question.id }}_department_{{ department.id }}"
                                               {% if question.is_required %}required{% endif %}>
                                        <span>{{ department.name_uz }}</span>
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% for option in question.options.all %}
                                <div class="option-item">
                                    <label for="question_{{ question.id }}_option_{{ option.id }}">
                                        <input class="question-input" type="radio"
                                               name="question_{{ question.id }}"
                                               value="{{ option.id }}"
                                               id="question_{{ question.id }}_option_{{ option.id }}"
                                               {% if question.is_required %}required{% endif %}>
                                        <span>{{ option.text_uz }}</span>
                                    </label>

                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% endif %}

                        <!-- MULTIPLE CHOICE -->
                        {% if question.question_type == 'multiple' %}
                        {% if question.option_source == 'menu' %}
                        <div class="food-grid">
                            {% for category in question.allowed_categories.all %}
                            <div class="food-card">
                                <div class="category-title">
                                    <h6 class="mb-0 text-primary fw-bold">
                                        {{ category.name_uz }}
                                    </h6>
                                </div>
                                {% for item in category.items.all %}
                                <div class="option-item">
                                    <label for="question_{{ question.id }}_menu_{{ item.id }}">
                                        <input class="question-input" type="checkbox"
                                               name="question_{{ question.id }}"
                                               value="{{ item.id }}"
                                               id="question_{{ question.id }}_menu_{{ item.id }}">
                                        <span>{{ item.name_uz }}</span>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="row">
                            {% for option in question.options.all %}
                            <div class="col-sm-12">
                                <div class="option-item">
                                    <label for="question_{{ question.id }}_option_{{ option.id }}">
                                        <input class="question-input" type="checkbox"
                                               name="question_{{ question.id }}"
                                               value="{{ option.id }}"
                                               id="question_{{ question.id }}_option_{{ option.id }}">
                                        <span>{{ option.text_uz }}</span>
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% endif %}
                    </div>

                </div>

                {% endfor %}

                <div class="row justify-content-center">

                    <button class="btn btn-primary btn-lg w-25">
                        Юбориш
                    </button>

                </div>
                {% else %}
                <div class="row justify-content-center">
                    <h2 class="mt-5">Хали салоллар йук</h2>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>


<div class="back">
    {% if "/ru/" in request.path %}
    <a href="{% url 'home_ru' %}" class="link_lang btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-backspace"
             viewBox="0 0 16 16">
            <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
            <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
        </svg>
    </a>
    {% else %}
    <a href="{% url 'home_uz' %}" class="link_lang btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-backspace"
             viewBox="0 0 16 16">
            <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
            <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
        </svg>
    </a>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        function scrollToNext(card) {
            let next = card.nextElementSibling;

            while (next && !next.classList.contains("question-card")) {
                next = next.nextElementSibling;
            }

            if (next) {
                next.scrollIntoView({
                    behavior: "smooth",
                    block: "start"
                });
            }
            setTimeout(() => {
                const input = next.querySelector(
                    "input, textarea, select"
                );

                if (input) {
                    input.focus();
                }
            }, 200);
        }

        function isAutoNextAllowed(input) {
            const card = input.closest(".question-card");

            if (input.matches("textarea, input[type='number']")) {
                return input.value.trim() !== "";
            }

            if (input.type === "radio") {
                return true;
            }

            if (input.type === "checkbox") {
                return false;
            }

            return false;
        }

        document.querySelectorAll(".question-input").forEach(input => {

            input.addEventListener("change", function () {

                const card = this.closest(".question-card");
                if (isAutoNextAllowed(this)) {
                    setTimeout(() => {
                        scrollToNext(card);
                    }, 200);
                }

            });

        });

    });


</script>
<script type="text/javascript" src="{% static 'js/keyboard.js' %}"></script>
{% endblock %}