{% extends 'base.html' %}
{% load static %}
{% block title %}Thank you{% endblock %}

{% block content %}

<main class="thank-you">
    <div class="thank-card">
        <h1 class="thank-title">Иштирокингиз учун раҳмат!</h1>
    </div>
</main>


<!--<script>
    window.addEventListener("load", () => {

        const duration = 4000;
        const end = Date.now() + duration;
        const colors = ["#ff004c", "#ffd166", "#06d6a0", "#118ab2", "#ffffff"];

        (function frame() {
            confetti({
                particleCount: 4,
                angle: 60,
                spread: 85,
                startVelocity: 60,
                scalar: 1.5,
                gravity: 1,
                ticks: 200,
                decay: 0.94,
                origin: {
                    x: 0,
                    y: 0.7
                },
                colors: colors,

            });

            confetti({
                particleCount: 4,
                angle: 120,
                spread: 85,
                startVelocity: 60,
                scalar: 1.5,
                gravity: 1,
                ticks: 200,
                decay: 0.94,
                origin: {
                    x: 1,
                    y: 0.7
                },
                colors: colors,
            });

            if (Date.now() < end) {
                requestAnimationFrame(frame);
            }

        })();

        setTimeout(() => {
            window.location.href = "/";
        }, duration);

    });

</script>-->

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const duration = 3 * 1000;

        const animationEnd = Date.now() + duration;

        const defaults = {
            startVelocity: 30,
            spread: 360,
            ticks: 60,
            zIndex: 999
        };

        function randomInRange(min, max) {
            return Math.random() * (max - min) + min;
        }

        const interval = setInterval(function () {

            const timeLeft = animationEnd - Date.now();

            if (timeLeft <= 0) {
                clearInterval(interval);
                return;
            }

            const particleCount = 200 * (timeLeft / duration);

            confetti(Object.assign({}, defaults, {
                particleCount: particleCount,
                origin: {
                    x: randomInRange(0.1, 0.3),
                    y: Math.random() - 0.2
                }
            }));

            confetti(Object.assign({}, defaults, {
                particleCount: particleCount,
                origin: {
                    x: randomInRange(0.7, 0.9),
                    y: Math.random() - 0.2
                }
            }));

        }, 250);

        setTimeout(() => {
            window.location.href = "/";
        }, duration);

    });
</script>

{% endblock %}